*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav
{
  display: flex ;
  flex-wrap: wrap ;
  justify-content: space-between ;
  width: 100% ;
  gap: 10px ;
  background-color: rgb(20, 24, 20) ;
  padding: 10px ;
  border-radius: 1px ;
}
ul
{
   display: flex;
   gap: 20px;
   list-style: none; 
   flex-wrap: wrap;
   font-size: 1rem;
   text-decoration: none;
}
li a
{
  font-size: 1rem;
  text-decoration: none;
  color: white;
  justify-content: end;
   justify-items: center;
   flex-wrap: wrap;
}
li a:hover
{
  color: rgb(233, 148, 148);
}
li a:active
{
  color: rgb(243, 26, 26);
}
aside
{
  font-size: 1rem;
  background-color:  rgb(21, 31, 230);
  padding: 0.2rem;
  border-radius: 3px;
  font-style: italic;
  font-family: cursive;
}
aside::first-letter
{
  color: rgb(249, 21, 21);
  font-weight: bold;
  font-size: 1.1rem;
}
.user
{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.cont
{
  display: flex;
  justify-content: center;
  color: rgb(22, 31, 22);
}
